body {
  padding: 0;
  margin: 0;
}

h1.vo-program-title {
  font-size: 3.2em;
  line-height: 1.1;
  color: #006845;
  text-align: center;
  text-wrap: balance;
  margin-bottom: 0;
}

h1.vo-program-subtitle {
  text-align: center;
  font-size: 1.5em;
}

h1#vo-frontpage-title {
  color: #006845;
  text-align: center;
}

#vo-back-button {
  position: fixed;
  top: 0.5em;
  left: 1em;
  padding: 0 0.5em;
  color: #006845;
  font-size: large;
}

@media (max-width: 120ch) {
  #vo-back-button {
    position: static;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.vo-browse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.vo-browse-all-hint {
  margin-top: 2em;
  margin-bottom: 0.2em;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.vo-browse-sector-hint {
  margin-bottom: 0.2em;
  text-align: center;
  font-weight: 500;
  font-size: normal;
  color: #555;
}

.vo-browse-retired-hint {
  display: block;
  margin: auto;
  margin-top: 1em;
  color: gray;
  border: none;
  background-color: transparent;
}

.vo-browse-retired-hint:hover {
  color: #333;
}

.vo-browse-loading-msg {
  text-align: center;
  font-size: large;
  animation: text-pulse 1s infinite;
}

.vo-program-container {
  margin-top: 2.5em;
}

@media (max-width: 120ch) {
  .vo-program-container {
    margin-top: 0;
  }
}

.vo-program-content {
  width: 75ch;
  max-width: 100%;
  margin: 0 auto;
}

.vo-program-frontmatter {
  text-align: center;
}

.vo-program-dev-banner-spacer {
  min-height: 4em;
}

.vo-program-dev-banner {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  padding: 0.3em;
  margin: 0;
  background-color: khaki;
  box-shadow: 0 -0.3em 0.6em goldenrod;
}

.vo-program-status-banner {
  font-size: medium;
  font-weight: bold;
  padding: 0.1em;
  margin: 0.25em;
}

.vo-program-status-banner-draft {
  background-color: lightgray;
}

.vo-program-status-banner-stale {
  background-color: gold;
}

.vo-program-status-banner-retired {
  background-color: lightcoral;
}

.vo-program-status-info {
  margin: 0.25em;
  font-size: small;
}

.vo-program-body {
  text-align: left;
}

.vo-program-element {
  all: unset;
  display: block;
  width: 100%;
  position: relative;
  padding-left: 0.2em;
}

.vo-program-element-buttons {
  position: absolute;
  right: -1em;
  top: 50%;
  transform: translate(100%, -50%);
  display: flex;
  flex-direction: column;
}

.vo-program-element-button {
  all: unset;
  cursor: pointer;
  border-radius: 50%;
  margin: 0.2em;
  color: darkgoldenrod;
}

.vo-program-element-button:hover {
  background-color: #eee;
}

.vo-program-element-a {
  font: inherit;
  color: inherit;
}

.vo-program-element-a:hover {
  font: inherit;
  color: inherit;
}

.vo-program-element-focused {
  box-shadow: -5px 0 2px 0 hsl(240, 100%, 80%, 50%);
}

.vo-program-element-highlight {
  background-color: hsl(60, 100%, 75%);
  box-shadow: 0 0 0.5em 0.5em hsl(60, 100%, 75%);
}

.vo-program-element-link {
  position: absolute;
  height: 100%;
  width: 2em;
  left: -2em;
  margin: 0;
  visibility: hidden;
  z-index: -1;
}

.vo-program-element-link:hover {
  visibility: visible;
}

.vo-program-element:hover .vo-program-element-link {
  visibility: visible;
}

.vo-program-body h1 {
  color: #006845;
  text-transform: uppercase;
}

.vo-program-body h2 {
  color: #006845;
}

.vo-program-body ul {
  margin: 0;
}

.vo-program-body li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.vo-cell-loading {
  text-align: center;
  color: #666;
  animation: cell-pulse 1s infinite;
  padding: 0.2em;
  margin: 0.5em 0;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

@keyframes cell-pulse {

  0%,
  100% {
    background-color: #fff;
  }

  50% {
    background-color: #f8f8f8;
  }
}

@keyframes text-pulse {

  0%,
  100% {
    color: #000;
  }

  50% {
    color: #888;
  }
}